<nav class="navbar navbar-expand-md navbar-dark mb-4" id="mainNavbar">
  <div class="container">
    <a routerLink="/" routerLinkActive="router-link-active"  class="navbar-brand">SISTEMA-GVP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/"  class="nav-link">GVP's</a>
        </li>
        <li class="nav-item">
          <a routerLink="/congregations"  class="nav-link">Congregações</a>
        </li>
    </ul>

    </div>
  </div>
</nav>

