<div class="row" >


  <div *ngIf="accommodation && modeView == false"class="col-md-6">
  <h2 ><i class="fa fa-fort-awesome"></i> Hospedagem</h2>


    <h5 class="text-right text-secondary">Total: {{ accommodations?.length }}</h5>

<div id="bodyForm" class="card card-body mb-3" @fade>
<form #accommodationForm="ngForm" (ngSubmit)="onSubmit(accommodationForm)">
    <p>Os campos com * são obrigatórios</p>
  <div class="form-group">
    <input type="text"
    #nameRef
    name="name"
    [ngModel]="accommodation.name"
    (ngModelChange)="accommodation.name = $event"
    class="form-control"
    placeholder="*Hospedagem...">
  </div>
  <div class="row">

      <div class="col-md-4" >

       <div id="cep" class="form-group">
          <div class="input-group">
           <input
           type="text"
           class="form-control"
           name="cep"
           #cepModel="ngModel"
           [ngClass]="{'is-invalid':cepModel.errors && cepModel.touched}"
           [(ngModel)]="accommodation.cep"
           placeholder="Cep"
           >

           <span class="input-group-btn">

              <button id="cepButton" type="button" class="btn btn-info" (click)="searchCep()">
                  <i class="fa fa-search" aria-hidden="true"></i>
               </button>
           </span>
          </div>

           <!-- <button id="cepButton" type="button" (click)="searchCep()">
              <i class="fa fa-search" aria-hidden="true"></i></button> -->




         </div>


      </div>



         <div class="col-md-2">
              <div class="form-group">

                  <input
                  type="text"
                  class="form-control"
                  name="state"
                  #stateModel="ngModel"
                  [ngClass]="{'is-invalid':stateModel.errors && stateModel.touched}"
                  [(ngModel)]="accommodation.state"
                  maxlength="2"
                  placeholder="*UF"
                  >

                </div>
             </div>

             <div class="col-md-6">
                 <div class="form-group">

                     <input
                     type="text"
                     class="form-control"
                     name="city"
                     #cityModel="ngModel"
                     [ngClass]="{'is-invalid':cityModel.errors && cityModel.touched}"
                     [(ngModel)]="accommodation.city"
                     placeholder="*Cidade"
                     >

                   </div>
                </div>

                <div class="col-md-5">
                   <div class="form-group">

                       <input
                       type="text"
                       class="form-control"
                       name="neighborhood"
                       #neighborhoodModel="ngModel"
                       [ngClass]="{'is-invalid':neighborhoodModel.errors && neighborhoodModel.touched}"
                       [(ngModel)]="accommodation.neighborhood"
                       placeholder="*Bairro"
                       >

                     </div>
                  </div>

                  <div class="col-md-6">
                     <div class="form-group">

                         <input
                         type="text"
                         class="form-control"
                         name="address"
                         #addressModel="ngModel"
                         [ngClass]="{'is-invalid':addressModel.errors && addressModel.touched}"
                         [(ngModel)]="accommodation.address"
                         placeholder="*Logradouro"
                         >

                       </div>
                    </div>

                    <div class="col-md-3">
                     <div class="form-group">

                         <input
                         type="number"
                         class="form-control"
                         name="numeral"
                         #numeralModel="ngModel"
                         [ngClass]="{'is-invalid':numeralModel.errors && numeralModel.touched}"
                         [(ngModel)]="accommodation.numeral"
                         placeholder="*Nº"
                         >

                       </div>
                    </div>
                    <div class="col-md-6">
                     <div class="form-group">

                         <input
                         type="text"
                         class="form-control"
                         name="complement"
                         #complementModel="ngModel"
                         [ngClass]="{'is-invalid':
                         complementModel.errors &&
                         complementModel.touched}"
                         [(ngModel)]="accommodation.complement"
                         placeholder="Complemento"
                         >

                       </div>
                    </div>
                  </div>

                  <div class="row mt-2">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text"
                      name="responsable"
                      [ngModel]="accommodation.responsable"
                      (ngModelChange)="accommodation.responsable = $event"
                      class="form-control"
                      placeholder="*Responsável...">
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input
                        type="text"
                        class="form-control"
                        name="mobilePhone"
                        #mobilePhoneModel="ngModel"
                        [ngClass]="{'is-invalid':mobilePhoneModel.errors && mobilePhoneModel.touched}"
                        [(ngModel)]="accommodation.mobilePhone"
                        (keypress)="maskPhones.onKeyPressMobilePhone($event)"
                        minlength="15"
                        maxlength="15"
                        placeholder="*(00) 00000-0000 - celular"
                        >

                        <div [hidden]="!mobilePhoneModel.errors?.minlength" class="invalid-feedback">
                            Formato incorreto
                          </div>

                      </div>
                    </div>

                      <div class="col-md-6">


                        <div class="form-group">
                            <input
                          type="text"
                          class="form-control"
                          name="phone"
                          #phoneModel="ngModel"
                          [ngClass]="{'is-invalid':phoneModel.errors && phoneModel.touched}"
                          [(ngModel)]="accommodation.phone"
                          (keypress)="maskPhones.onKeyPressPhone($event)"
                          minlength="14"
                          maxlength="14"
                          placeholder="(00) 0000-0000 - fixo"
                          >

                          <div [hidden]="!phoneModel.errors?.minlength" class="invalid-feedback">
                              Formato incorreto
                            </div>

                        </div>
                      </div>
                    </div>

  <input type="submit" [value]="textInput" class="btn btn-light"
  [disabled]="!accommodation.name || !accommodation.state || !accommodation.city || !accommodation.neighborhood || !accommodation.address || !accommodation.numeral || !accommodation.responsable || !accommodation.mobilePhone" >
  <button id="resetButton"(click)="clearState()" type="button" class="btn btn-info" [hidden]="!accommodation.name && this.textInput != 'Atualizar'">Reset</button>
</form>
</div>
</div >

<div *ngIf="accommodation && modeView == true" class="col-md-6" >

  <a   [routerLink]="" (click)="backMainView()">
      <i  class="fa fa-arrow-circle-o-left"></i> Voltar
    </a>

<div class="card" @fade>
  <h3 class="card-header">{{ accommodation.name }}</h3>
  <div class="card-body" >


        <h4  > ID: {{ accommodation.id }}</h4>


    <hr>
    <div class="row">
      <ul class="list-group col-md-6">
       <li class="list-group-item"><strong class="Topic">Estado:</strong> {{ accommodation.state }}</li>
       <li class="list-group-item"><strong class="Topic">Cidade:</strong> {{ accommodation.city }}</li>
       <li class="list-group-item"><strong class="Topic">Bairro:</strong> {{ accommodation.neighborhood }}</li>
       <li class="list-group-item"><strong class="Topic">Logradouro:</strong> {{ accommodation.address }}</li>
       <li class="list-group-item"><strong class="Topic">Número:</strong> {{ accommodation.numeral }}</li>
       <li class="list-group-item"><strong class="Topic">Complemento:</strong> {{ accommodation.complement }}</li>
        <li class="list-group-item"><strong class="Topic">Cep:</strong> {{ accommodation.cep }}</li>
      </ul>
      <ul class="list-group col-md-6">
          <li class="list-group-item"><strong class="Topic">Responsável:</strong> {{ accommodation.responsable }}</li>
          <li class="list-group-item"><strong class="Topic">Celular:</strong> {{ accommodation.mobilePhone }}</li>
           <li class="list-group-item"><strong class="Topic">Telefone:</strong> {{ accommodation.phone }}</li>
         </ul>
  </div>
  </div>
</div>
</div>
<div class="col-md-6">

      <input type="text" class="form-control" name="filteredName" [ngModel]="filteredName" (ngModelChange)="filteredName = $event"
        placeholder="Filtrar por nome">



      <div class="mt-1">
      <table *ngIf="accommodations?.length > 0;else noAccommodations" class="table" >
        <thead class="thead-dark">
          <tr>
            <th>Nome</th>
            <th id="actions" colspan="3">Ações</th>
          </tr>
        </thead>
        <tbody @fade>
          <tr *ngFor="let accommodation of  accommodations | filter: filteredName : 'name'">
            <td >{{ accommodation.name }}</td>
            <td ><button (click)="onSelectedToView(accommodation)" ><i class="fa fa-eye" aria-hidden="true"></i></button></td>
         <td ><button (click)="onSelectedToChange(accommodation)" ><i class="fa fa-edit" aria-hidden="true"></i></button></td>
          <td ><button id="deleteButton" (click)="onDeleteClick(accommodation.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>

          </tr>
        </tbody>

      </table>



<ng-template #noAccommodations>
<hr><h5>Não existem hospedagens cadastradas no sistema</h5>
</ng-template>

</div>
</div>
</div>


