label {
  color: blueviolet;
  font-size: 15px;
}



.radio-inline{
  color: black;
}

.card-body{
  background-color: gainsboro;
}


.btn-primary {
  color: #ffffff;
  background-color: #611BBD;
  border-color: #130269;
}


.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  color: #ffffff;
  background-color: #49247A !important;
  border-color: #130269;
}

::placeholder{
  opacity: 0.5;
}



