.fa-trash{
  color: red;
}

.fa-edit{
  background-color: orange;
}

.fa-eye{
  background-color: lightblue;
}


#actions{
  text-align: center;
}


tr:hover {
  background-color: lightgoldenrodyellow;
}


.list-group-item {
	font-family: Rockwell,Courier Bold,Courier,Georgia,Times,Times New Roman,serif;
}

.Topic{
  background: blanchedalmond;
}

#arrowBack, #textVoltar{
  color: rgb(67, 117, 211);
}

label {
  color: blueviolet;
  font-size: 15px;
}


#bodyForm {
  background-color: gainsboro;
}

::placeholder{
  opacity: 0.5;
}

p{
  font-size: 12px;
}

