label {
  color: blueviolet;
  font-size: 15px;
}

#cepButton {
  display: inline-block;
  padding: 5px 10px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: lightblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

#cepButton:hover {background-color: lightskyblue}

#cepButton:active {
  background-color: lightskyblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.radio-inline{
  color: black;
}

.card-body{
  background-color: gainsboro;
}


.btn-primary {
  color: #ffffff;
  background-color: #611BBD;
  border-color: #130269;
}


.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  color: #ffffff;
  background-color: #49247A !important;
  border-color: #130269;
}



